/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: lightgray;
	-fx-font-size:11pt;
}
.button{
	/*-fx-background-color:#D8D8D8;*/
	-fx-background-radius:4.0pt;
	
}